# DATA ANALYSIS PROJECT
국적별 목적별

In [7]:
import pandas as pd

df = pd.read_excel('C:/Users/USER/data_crawling/files/kto_201901.xlsx', header = 1, usecols = 'A:G', skipfooter = 4)
df

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [11]:
df.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [13]:
#기준 연월 컬럼 생성
df['기준연월'] = '2019-01'
df

         국적      관광     상용    공용  유학/연수      기타       계     기준연월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [15]:
df['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [22]:
# 제외하고자 하는 목록 만들기
del_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

df_country = df[df['국적'].isin(del_list) == False]
df_country
df_country['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [24]:
df_country = df_country.reset_index(drop = True)
df_country

          국적      관광    상용    공용  유학/연수     기타       계     기준연월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [25]:
# continents 축 만들기용 series
continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']
print(continents)

['아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아메리카', '아메리카', '아메리카', '아메리카', '아메리카', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '오세아니아', '오세아니아', '오세아니아', '아프리카', '아프리카', '기타대륙', '교포']

In [28]:
df_country['대륙'] = continents
df_country

          국적      관광    상용    공용  유학/연수     기타       계     기준연월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [33]:
#관광객 비율 컬럼
df_country['관광객 비율(%)'] =round( (df_country['관광']/df_country['계']) *100, 1)
df_country

,국적,관광,상용,공용,유학/연수,기타,계,기준연월,대륙,관광객 비율,관광객 비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,0.962615,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,0.982252,98.2
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,0.965372,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,0.975097,97.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,0.822664,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,0.863041,86.3
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,0.468579,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,0.752733,75.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,0.849518,85.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,0.246549,24.7
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,0.532081,53.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,0.267328,26.7
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,0.121989,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,0.230620,23.1
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,0.119487,11.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,0.235622,23.6
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,0.854165,85.4
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,0.814923,81.5
18,이란,60,45,10,23,46,184,2019-01,아시아,0.326087,32.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,0.903106,90.3
20,터키,792,13,32,36,912,1785,2019-01,아시아,0.443697,44.4
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,0.340285,34.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,0.611360,61.1
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,0.872748,87.3
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,0.342776,34.3
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,0.685226,68.5
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,0.644783,64.5
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,0.691851,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,0.707788,70.8
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,0.680053,68.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,0.786559,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,0.718978,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,0.676893,67.7
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,0.701631,70.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,0.859470,85.9
35,스위스,613,18,0,19,97,747,2019-01,유럽,0.820616,82.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,0.720615,72.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,0.692410,69.2
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,0.689139,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,0.691114,69.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,0.701031,70.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,0.738304,73.8
42,그리스,481,17,4,0,273,775,2019-01,유럽,0.620645,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,0.737589,73.8
44,핀란드,412,23,1,18,405,859,2019-01,유럽,0.479627,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,0.658824,65.9
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,0.262157,26.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,0.685084,68.5
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,0.460285,46.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,0.472477,47.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,0.357309,35.7
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,0.538520,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,0.610118,61.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,0.895695,89.6
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,0.744587,74.5
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,0.903909,90.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,0.368000,36.8
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,0.285502,28.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,0.611111,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.000000,0.0

In [34]:
df_country.sort_values(by = '관광객 비율(%)', ascending = 'True')

,국적,관광,상용,공용,유학/연수,기타,계,기준연월,대륙,관광객 비율,관광객 비율(%)
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.000000,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,0.119487,11.9
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,0.121989,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,0.230620,23.1
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,0.235622,23.6
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,0.246549,24.7
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,0.262157,26.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,0.267328,26.7
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,0.285502,28.6
18,이란,60,45,10,23,46,184,2019-01,아시아,0.326087,32.6
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,0.340285,34.0
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,0.342776,34.3
50,불가리아,154,1,1,10,265,431,2019-01,유럽,0.357309,35.7
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,0.368000,36.8
20,터키,792,13,32,36,912,1785,2019-01,아시아,0.443697,44.4
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,0.460285,46.0
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,0.468579,46.9
49,루마니아,412,8,4,3,445,872,2019-01,유럽,0.472477,47.2
44,핀란드,412,23,1,18,405,859,2019-01,유럽,0.479627,48.0
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,0.532081,53.2
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,0.538520,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,0.610118,61.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,0.611360,61.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,0.611111,61.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,0.620645,62.1
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,0.644783,64.5
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,0.658824,65.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,0.676893,67.7
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,0.680053,68.0
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,0.685084,68.5
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,0.685226,68.5
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,0.689139,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,0.691114,69.1
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,0.691851,69.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,0.692410,69.2
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,0.701031,70.1
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,0.701631,70.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,0.707788,70.8
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,0.718978,71.9
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,0.720615,72.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,0.737589,73.8
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,0.738304,73.8
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,0.744587,74.5
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,0.752733,75.3
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,0.786559,78.7
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,0.814923,81.5
35,스위스,613,18,0,19,97,747,2019-01,유럽,0.820616,82.1
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,0.822664,82.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,0.849518,85.0
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,0.854165,85.4
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,0.859470,85.9
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,0.863041,86.3
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,0.872748,87.3
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,0.895695,89.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,0.903106,90.3
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,0.903909,90.4
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,0.962615,96.3
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,0.965372,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,0.975097,97.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,0.982252,98.2

In [41]:
df_country.pivot_table(index = '대륙', values = ['관광객 비율(%)'], aggfunc = 'mean')
#이렇게 하면 오류가 발생 - 평균(관광객 비율)의 평균을 계산한 셈이 된다

       관광객 비율(%)
대륙
교포      0.000000
기타대륙   61.100000
아메리카   68.200000
아시아    59.624000
아프리카   32.700000
오세아니아  84.833333
유럽     63.826087

In [44]:
temp = df_country['국적']

0           일본
1           대만
2           홍콩
3          마카오
4           태국
5        말레이시아
6          필리핀
7        인도네시아
8         싱가포르
9          미얀마
10         베트남
11          인도
12        스리랑카
13        파키스탄
14       방글라데시
15        캄보디아
16          몽골
17          중국
18          이란
19        이스라엘
20          터키
21      우즈베키스탄
22       카자흐스탄
23         GCC
24      아시아 기타
25          미국
26         캐나다
27         멕시코
28         브라질
29       미주 기타
30          영국
31          독일
32         프랑스
33        네덜란드
34         스웨덴
35         스위스
36        이탈리아
37         덴마크
38        노르웨이
39         벨기에
40       오스트리아
41         스페인
42         그리스
43        포르투갈
44         핀란드
45        아일랜드
46       우크라이나
47         러시아
48       크로아티아
49        루마니아
50        불가리아
51         폴란드
52       구주 기타
53     오스트레일리아
54        뉴질랜드
55      대양주 기타
56    남아프리카공화국
57     아프리카 기타
58        국적미상
59          교포
Name: 국적, dtype: object

In [49]:
tourist_sum = df_country['관광'].sum()
tourist_sum

884293

In [51]:
df_country['전체비율(%)'] = round(df_country['관광']/tourist_sum * 100, 1)
df_country

,국적,관광,상용,공용,유학/연수,기타,계,기준연월,대륙,관광객 비율,관광객 비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,0.962615,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,0.982252,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,0.965372,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,0.975097,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,0.822664,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,0.863041,86.3,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,0.468579,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,0.752733,75.3,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,0.849518,85.0,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,0.246549,24.7,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,0.532081,53.2,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,0.267328,26.7,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,0.121989,12.2,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,0.230620,23.1,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,0.119487,11.9,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,0.235622,23.6,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,0.854165,85.4,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,0.814923,81.5,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,0.326087,32.6,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,0.903106,90.3,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,0.443697,44.4,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,0.340285,34.0,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,0.611360,61.1,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,0.872748,87.3,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,0.342776,34.3,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,0.685226,68.5,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,0.644783,64.5,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,0.691851,69.2,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,0.707788,70.8,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,0.680053,68.0,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,0.786559,78.7,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,0.718978,71.9,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,0.676893,67.7,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,0.701631,70.2,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,0.859470,85.9,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,0.820616,82.1,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,0.720615,72.1,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,0.692410,69.2,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,0.689139,68.9,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,0.691114,69.1,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,0.701031,70.1,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,0.738304,73.8,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,0.620645,62.1,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,0.737589,73.8,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,0.479627,48.0,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,0.658824,65.9,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,0.262157,26.2,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,0.685084,68.5,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,0.460285,46.0,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,0.472477,47.2,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,0.357309,35.7,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,0.538520,53.9,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,0.610118,61.0,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,0.895695,89.6,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,0.744587,74.5,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,0.903909,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,0.368000,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,0.285502,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,0.611111,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.000000,0.0,0.0

In [63]:
df_country.sort_values(by = '전체비율(%)', ascending = False)
# df_country.drop(['관광객 비율'])
df_country

,국적,관광,상용,공용,유학/연수,기타,계,기준연월,대륙,관광객 비율,관광객 비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,0.962615,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,0.982252,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,0.965372,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,0.975097,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,0.822664,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,0.863041,86.3,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,0.468579,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,0.752733,75.3,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,0.849518,85.0,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,0.246549,24.7,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,0.532081,53.2,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,0.267328,26.7,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,0.121989,12.2,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,0.230620,23.1,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,0.119487,11.9,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,0.235622,23.6,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,0.854165,85.4,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,0.814923,81.5,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,0.326087,32.6,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,0.903106,90.3,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,0.443697,44.4,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,0.340285,34.0,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,0.611360,61.1,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,0.872748,87.3,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,0.342776,34.3,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,0.685226,68.5,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,0.644783,64.5,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,0.691851,69.2,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,0.707788,70.8,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,0.680053,68.0,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,0.786559,78.7,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,0.718978,71.9,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,0.676893,67.7,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,0.701631,70.2,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,0.859470,85.9,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,0.820616,82.1,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,0.720615,72.1,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,0.692410,69.2,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,0.689139,68.9,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,0.691114,69.1,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,0.701031,70.1,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,0.738304,73.8,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,0.620645,62.1,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,0.737589,73.8,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,0.479627,48.0,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,0.658824,65.9,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,0.262157,26.2,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,0.685084,68.5,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,0.460285,46.0,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,0.472477,47.2,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,0.357309,35.7,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,0.538520,53.9,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,0.610118,61.0,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,0.895695,89.6,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,0.744587,74.5,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,0.903909,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,0.368000,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,0.285502,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,0.611111,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.000000,0.0,0.0

In [ ]:
# 함수 만들기